@import "tailwindcss";
@plugin "daisyui" {
  themes: valentine;
}

html,
body,
#root {
  height: 100%;
  font-family: "84204FFF-79F6-4EF4-94F5-6CD6CA6CA761";
}

p {
  @apply text-pink-600;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

.rating-Mild,
.rating-Light {
  @apply bg-pink-100;
}

.rating-Moderate,
.rating-Medium {
  @apply bg-pink-300 text-white;
}

.rating-Severe,
.rating-Heavy {
  @apply bg-pink-700 text-white;
}


