@import "tailwindcss";
@plugin "daisyui" {
  themes: valentine;
}

html,
body,
#root {
  height: 100%;
  font-family: "84204FFF-79F6-4EF4-94F5-6CD6CA6CA761";
}

p {
  @apply text-pink-600;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

.rating-Mild,
.rating-Light {
  @apply bg-pink-100;
}

.rating-Moderate,
.rating-Medium {
  @apply bg-pink-300 text-white;
}

.rating-Severe,
.rating-Heavy {
  @apply bg-pink-700 text-white;
}

/* Yearly calendar */
calendar-date::part(header) {
  display: none;
}
calendar-month::part(heading) {
  display: none;
}
calendar-month::part(tr head) {
  display: none;
}
calendar-month::part(td) {
  padding: 1px;
}
calendar-month::part(button) {
  @apply rounded-full w-2.5 sm:w-4 h-2.5 sm:h-4;
  font-size: 0;
  min-inline-size: 0;
  background-color: oklch(95% 0.02 340);
}
calendar-month::part(outside) {
  visibility: hidden;
}
calendar-month::part(button yearly-rating-Mild) {
  background-color: oklch(90% 0.06 340);
}
calendar-month::part(button yearly-rating-Moderate) {
  background-color: oklch(75% 0.14 340);
}
calendar-month::part(button yearly-rating-Severe) {
  background-color: oklch(45% 0.18 340);
}
